﻿@page "/ClaimsPrinciple"
@using System.Security.Claims
@using System.Collections

<AuthorizeView>
    <Authorized>
        <h2>
            Hello, @context.User.Identity?.Name,
            here's the list of your claims:
        </h2>
        <ul>
            @foreach (Claim claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    </Authorized>
</AuthorizeView>